body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);

  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  
}



button {
  padding: 10px ;
  margin: 10px;
}


